@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bienvenido a AppTaxis - Jensey Jimenez | Proyecto Final C# Intermedio</h1>
    <p>Seleccione una opción en el menú.</p>

</div>
